<!DOCTYPE html>
<html ng-app="main">
    <head>
        <title>Node</title>
        <script src="./js/angular/angular.min.js"></script>
        <script src="./js/angular/angular-loadscript.js"></script>
        <script src="./js/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="./js/jquery/dist/jquery.min.js"></script>
        <script src="./js/index.js"></script>
        <script src="./js/functions.js"></script>

        <link rel="stylesheet" type="text/css" href="./css/normalize.css"></link>
        <link rel="stylesheet" type="text/css" href="./css/skeleton.css"></link>
        <link rel="stylesheet" type="text/css" href="./css/main.css"></link>
    </head>
    <body>
        <div ui-view="nav"></div>
        <div ui-view="content" id="view-content"></div>
    </body>
</html>