<table>
    <tr>
        <td style="vertical-align:top;">
            <b>User Info:</b><br />
            Name: {{user.firstname}} {{user.lastname}}<br /><br />

            <b>Appointments:</b>
            <div id="top-panel">
                <input type="text" ng-model="formAddAppointment.lat" placeholder="Latitude" class="form-control" />
                <input type="text" ng-model="formAddAppointment.lng" placeholder="Longitude" class="form-control" />
                
                <button class="btn btn-sm btn-success" ng-click="createAppointment()">+</button>
            </div>

            <div ng-repeat="appointment in appointments">
                <div style="margin-bottom:5px;">
                    <input type="text" value="{{appointment.lat}}" ng-model="appointment.lat" class="form-control" />
                    <input type="text" value="{{appointment.lng}}" ng-model="appointment.lng" class="form-control" />
                    <span ng-click="deleteAppointment(appointment.id)"><button class="btn btn-sm btn-danger">&times;</button></span>
                </div>
            </div>
        </td>
        <td style="vertical-align:top;">
            <div id="map" style="width:500px; height:500px;"></div>
        </td>
    </tr>
</table>