div#nav{
    width:100%;
    padding:10px;
    background:#cccccc;
}

div#nav a{
    color:#000000;
}

div#nav a.active{
    color:#0055AA;
    text-decoration:none;
}

#view-content{
    padding:10px;
}

form{
    margin:0px;
}

.form-control{
    display:inline-block;
    width:auto;
    height:31px;
}

#top-panel{
    height:60px;
}

#map{
    margin-left:100px;
}